body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

.summary {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: fit-content;
}

#alert {
    font-weight: bold;
}

.charts {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chart-box {
    width: 350px;
    height: 350px;
    background: white;
    padding: 15px;
    border-radius: 12px;
}
